@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button class="btn btn-primary" onclick="connection.invoke('CreateNotify', 'Benvenuto su CosminIrimescu.COM')">
        Invia Notifica
    </button>
</div>